name: Update Profile Assets

on:
  schedule:
    - cron: '10 19 * * *'  # 04:10 (JST) == 19:10 (UTC)
  workflow_dispatch:

permissions:
  contents: write

jobs:
  download-and-commit:
    runs-on: ubuntu-latest
    name: download-profile-assets
    steps:
      - uses: actions/checkout@v6

      - name: Create directory
        run: mkdir -p profile-assets

      - name: Download Images
        run: |
          # --- 1. Typograssy ---
          curl -o profile-assets/typograssy.svg "https://typograssy.deno.dev/api?text=Welcome%20to%20my%20profile!%20&l0=002642&l1=0077cc&l2=44aaff&l3=88ccff&l4=bbddff&bg=000000&frame=ffffff&speed=100&comment="

          # --- 2. Skills ---
          curl -o profile-assets/skills.svg "https://skillicons.dev/icons?theme=dark&perline=12&i=py,pytorch,sklearn,tensorflow,django,flask,fastapi,opencv,qt,matlab,c,cpp,java,js,ts,react,vite,html,css,bootstrap,tailwind,latex,md,sqlite,postgres,mysql,visualstudio,vscode,aws,azure,windows,linux,docker,git,github,githubactions"

          # --- 3. Stats & Langs & Trophy ---
          curl -o profile-assets/github-stats.svg "https://github-readme-stats.vercel.app/api?username=Git-Yuya&locale=en&show_icons=true&rank_icon=github&include_all_commits=false&show=reviews,discussions_started,discussions_answered,prs_merged&number_format=long&theme=default&title_color=ffffff&text_color=ffffff&icon_color=ffffff&ring_color=ffffff&bg_color=35,473B7B,3584A7,30D2BE&border_radius=10&line_height=25&card_width=420"
          curl -o profile-assets/top-langs.svg "https://github-readme-stats.vercel.app/api/top-langs/?username=Git-Yuya&locale=en&show_icons=true&size_weight=0.5&count_weight=0.5&langs_count=20&layout=compact&theme=default&title_color=ffffff&text_color=ffffff&icon_color=ffffff&bg_color=35,473B7B,3584A7,30D2BE&border_radius=10&card_width=330"
          curl -o profile-assets/trophy.svg "https://trophygh.kolioaris.xyz/?username=Git-Yuya&theme=algolia&no-bg=false&no-frame=false&column=5&row=2&margin-w=5&margin-h=5"

          # --- 4. Repo Pins ---
          BASE_URL="https://github-readme-stats.vercel.app/api/pin/?username=Git-Yuya&theme=default&title_color=ffffff&text_color=ffffff&icon_color=ffffff&bg_color=35,473B7B,3584A7,30D2BE"

          curl -o profile-assets/pin-Git-Yuya.github.io.svg "$BASE_URL&repo=Git-Yuya.github.io"
          curl -o profile-assets/pin-atcoder.svg "$BASE_URL&repo=atcoder"
          curl -o profile-assets/pin-cs50-intro-to-cs.svg "$BASE_URL&repo=cs50-intro-to-cs"
          curl -o profile-assets/pin-gci.svg "$BASE_URL&repo=gci"
          curl -o profile-assets/pin-dl-lecture-competition.svg "$BASE_URL&repo=dl-lecture-competition"
          curl -o profile-assets/pin-lecture-ai-engineering.svg "$BASE_URL&repo=lecture-ai-engineering"
          curl -o profile-assets/pin-lecture-survey-dashboard.svg "$BASE_URL&repo=lecture-survey-dashboard"
          curl -o profile-assets/pin-simplechat.svg "$BASE_URL&repo=simplechat"
          curl -o profile-assets/pin-rag-chatbot.svg "$BASE_URL&repo=rag-chatbot"
          curl -o profile-assets/pin-tokyo-2020-olympics-aquatics.svg "$BASE_URL&repo=tokyo-2020-olympics-aquatics"
          curl -o profile-assets/pin-swimming-comp-score-calculation.svg "$BASE_URL&repo=swimming-comp-score-calculation"
          curl -o profile-assets/pin-walking-time-prediction.svg "$BASE_URL&repo=walking-time-prediction"
          curl -o profile-assets/pin-pedestrian-travel-time.svg "$BASE_URL&repo=pedestrian-travel-time"
          curl -o profile-assets/pin-scramble-crossing-simulation.svg "$BASE_URL&repo=scramble-crossing-simulation"
          curl -o profile-assets/pin-ubiquitous-projection.svg "$BASE_URL&repo=ubiquitous-projection"
          curl -o profile-assets/pin-parallel-processing.svg "$BASE_URL&repo=parallel-processing"

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add profile-assets/*.svg
          if git commit -m "Update profile assets"; then
            git push
          fi
